{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>Персональные данные</th>
                    </tr>
                    </thead>
                    <tr>
                        <th>ФИО:</th>
                    </tr>
                    <tr>
                        <td>{{ manager.surname }} {{ manager.name }} {{ manager.middleName }}</td>
                    </tr>
                    <tr>
                        <th>Отдел:</th>
                    </tr>
                    <tr>
{#                        <td>{{ manager.branch.name }}</td>#}
                        <td>{{ manager.branch }}</td>
                    </tr>
                    <tr>
                        <th class="th-lg">Email:</th>
                    </tr>
                    <tr>
                        <td>{{ manager.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-3 m-3">
                <img class="img-thumbnail" width="300" height="400" src="{{ manager.photo }}" alt="">
            </div>
        </div>
        <div>
            <a href="{{ path('get_data') }}">
                <button class="btn btn-lightc" type="button" name="button" >Назад</button>
            </a>
            <a href="{{ path('edit_manager', {code: manager.code}) }}">
                <button class="btn btn-lightc" type="button" name="button" >Изменить</button>
            </a>
            <a href="{{ path('delete_manager', {id: manager.id}) }}">
                <button class="btn btn-lightc" type="button" name="button" >Удалить</button>
            </a>
        </div>
    </div>


{% endblock %}